html,
body,
header,
#intro {
    height: 100%;
    background-color: lightgray;
    color: #282828;
}

#intro {
    background: url("../img/ray-hennessy-328617-unsplash-min.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#projects {
  padding: 20px;
}

.accent-color {
  background-color:#f19335;
}

.accent-text {
  color:#f19335;
}

.secondary-accent-text {
  font-family: 'Lobster';
  font-size: 4em;
}

.secondary-accent, #about {
  background-color: #6c7795;
}

#about {
  padding-bottom: 60px; 
  padding-top: 40px;
  margin-top: 40px;
}

.profile-img {
  border-radius: 50%;
  border: 2px solid white;
}

.tech-icon {
  height: 40px;
  width: 40px;
  margin: auto 5px;
}
