html,
body,
header,
#intro {
    height: 100%;
    background-color:#e3eaef;
    color: #282828;
}

#intro {
    background: url("../img/ray-hennessy-328617-unsplash-min.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#projects {
  padding: 40px;
}

.accent-color {
  background-color:#f19335;
}

/* footer {
  background-color: rgba(255, 0, 0, 0.6);
} */